@import url(./asset/font/stylesheet.css);

:root{
    scroll-behavior: smooth;
    font-family: gilroyRegular,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.75 ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hide{
    display: none;
}

.mainContainer{
    width: 95%;
    height: 95%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

/* below this styling for side bar */
.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    height: 95%;
    width: 15%;
    outline: 1px solid black;
}

.top,.bottom,.middle{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

/* all,today, Compelted button are inside this div */
.top{
    height: 25%;
    justify-content: center;
    gap: 10px;

    & > button{
        height: 25%;
    }
}

/* this is a div that hold notes button */
.middle{
    height: 10%;
    justify-content: center;
    
    & > button{
        height: 65%;
    }
}

.bottom{
    height: 40%;
    justify-content: space-around;

    & > button{
        height: 16%;
    }
}

/* this contains all the project as well as show all the projects */
.bottomInner{
    height: 80%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;

    & > button{
        font-family: gilroyLight,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        width: 70%;
        padding: 10px 5px 10px 5px;
        border: none;
        border-radius: 10px;
        color: var(--color-dark-primary);
        background-color: var(--color-light-primary);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        transition: all 0.30s ease;
        overflow-wrap: anywhere;

        &:hover{
            color: var(--color-light-primary);
            background-color: var(--color-dark-primary);
        }
        
    }
}

/* applied to all the button (all,today, completed,notes)*/
.but{
    width: 100%;
    font-size: 1.2rem;
    outline: none;
    border:none;
    font-family: gilroyLight,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background-color: var(--color-light-primary);
    color: var(--color-dark-primary);
    transition: all 0.30s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:hover{
        border-radius: 5px;
        box-shadow: none;
        background-color: var(--color-dark-primary);
        color: var(--color-light-primary);
    }
}

/* below this is styling for main bar */
.mainBar{
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 5%;
}

.mainBarTop,.mainBarBottom{
    width: 100%;
    border-radius: 15px;
}

/* constains expand, add and theme */
.mainBarTop{
    height: 10%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    justify-content: center;
    align-items: center;
    outline: 1px solid;
}

.expand,.add,.theme{
    height: 60%;
    margin: 10px;
    font-size: 1.2rem;
    font-family: gilroyLight,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light-primary);
    color: var(--color-dark-primary); 
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.30s ease;


    &:hover{
        background-color: var(--color-dark-primary);
        color: var(--color-light-primary);

    }
}

.expand{
    grid-column: 1/2;
}

.add{
    grid-column: 9/10;
}

.theme{
    grid-column: 10/11;
}

/* this contains all the todo */
.mainBarBottom{
    height: 85%;
    outline: 1px solid black;
    padding: 15px;
    overflow: scroll;
}
