:root{
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.75 ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    width: 95%;
    height: 95%;
    border-radius: 25px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sideBar,.mainBar{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

/* below this styling for side bar */
.sideBar{
    justify-content: space-around;
    height: 95%;
    width: 15%;
    background-color: lightgreen;
}

.top,.bottom,.middle{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top{
    height: 25%;
    background-color: lightseagreen;
    justify-content: center;

    & > button{
        width: 100%;
        height: 25%;
    }
}

.middle{
    height: 10%;
    background-color: lightsalmon;
    justify-content: center;
    
    & > button{
        width: 100%;
        height: 70%;
    }
}

.bottom{
    height: 40%;
    background-color: darkblue;
}

/* below this is styling for main bar */
.mainBar{
    width: 80%;
    height: 95%;
    background-color: lightblue;
}