@import url(./asset/font/stylesheet.css);

:root{
    scroll-behavior: smooth;
    font-family: gilroyRegular,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.75 ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    width: 95%;
    height: 95%;
    border-radius: 25px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sideBar,.mainBar{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

/* below this styling for side bar */
.sideBar{
    justify-content: space-around;
    height: 95%;
    width: 15%;
    background-color: lightgreen;
}

.top,.bottom,.middle{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* all,today, Compelted button are inside this div */
.top{
    height: 25%;
    justify-content: center;
    gap: 5px;

    & > button{
        height: 25%;
    }
}

/* this is a div that hold notes button */
.middle{
    height: 10%;
    justify-content: center;
    
    & > button{
        height: 70%;
    }
}

.bottom{
    height: 40%;
    text-align: center;
    gap: 5px;
    & > h1{
        font-family: gilroyBold,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

/* this contains all the project as well as show all the projects */
.bottomInner{
    height: 90%;
    & > button{
        height: 20%;
    }
}

/* applied to all the button */
.but{
    width: 100%;
    font-size: 1rem;
    outline: none;
    border:none;
    font-family: gilroyLight;
    border-radius: 25px;

    &:hover{
        border-radius: 25px;
    }
}

/* below this is styling for main bar */
.mainBar{
    width: 80%;
    height: 95%;
    background-color: lightblue;
}